APP_NAME=My App
APP_VERSION=0.1.0
DEBUG=False

# Database configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=mydb

# Ollama configuration
OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=gemma4:e2b

DOC_OUTPUT_DIR=c:/temp/documents
#SYSTEM_PROMPT=system_prompt.txt
#SYSTEM_TOOLS=C:\repo\repo-agent\app-backend\system-env\tools.json
SYSTEM_PROMPT=C:\repo\repo-agent\app-backend\Prompts\System.md
SYSTEM_TOOLS=C:\repo\repo-agent\app-backend\system-env\tools.json
#
